  <div class="jumbotron">
    <h1 class="title">猎聘101</h1>
    <h2 class="slogan">猎聘101 是一家链接猎头和编程人才的大型高端招聘网站。
    <br>
    我们希望藉由这个网站，解决“千里马常有，而伯乐不常有的”痛点。
    <br>
     让那些懂编程的人快速实现财富自由！！！
     <br>
     Our vision is
     <br>
     to connect businesses with talent and
     <br>
     improve lives through better careers.
   </h2>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立刻行动</a></p>

    <section id="company">
      <div class = "container-fluid">
        <div class="row">
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
              <div class="caption">
                <h3>Singapore Tampines Mall 101 </h3>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
              <div class="caption">
                <h3>Hiring@liepin101.com</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
              <div class="caption">
                <h3>+0065 66668888</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
